.info{
    padding: 50px 0;
}
body{
    background-color: #E6E7E9 !important;
}
.bg-body-tertiary{
    background-color: #fff !important;
}
.hero-banner{
    background: url('../img/info-banner-img-01.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}


.down-arrow img{
    position: absolute;
    bottom: 125px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-cybercity-trevita{
    background: url('../img/info-banner-img-02.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}

.info-bg-grey{
    background-color: #E6E7E9 !important;
}
.info-text-gold{
    color: #AC7F1A;
}
.info-content-position{
    position: relative;
}

.info-content-bg{
    background: url('../img/info-women-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info-bg-card{
    background-color: #A5833B;
    height: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.info-circle-img img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 335px;
}
.info-circle-img-02 img{
    width: 110px;
    position: absolute;
    bottom: -50px;
    left: 200px;
}

.responsive-map{
    /* overflow: hidden; */
    padding-bottom:47%;
    position:relative;
    height: 0;
    }
    .responsive-map iframe{
    left:0;
    top:0;
    height: 600px !important;
    width:100%;
    position:absolute;
    }

    .info-location-bg{
        background-image: linear-gradient(to bottom,  #fdfdfde5, transparent 50%), url('../img/loacation.jpg');
        min-height: 600px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .display-2{
        color: #ffffffab;
    }
    .text-secondary{
        color: #D2D2D2 !important;
    }

    .info-restroom-position{
        position: relative;
    }
    .info-restroom-content-lines{
        width: 300px;
        position: absolute;
        bottom: -220px;
        left: 150px;
    }
    .info-restroom-content img{
        width: 80px;
        position: absolute;
        right: 425px;
        z-index: 1;
    }

    .info-restroom-content-02 img{
        width: 300px;
        position: absolute;
        bottom: -150px;
        right: 150px;
    }
    .info-master-plan-bg{
        margin-top: 150px;
    }

    .info-text-brand-gold{
        position: relative;
    }
    .info-text-brand-gold::after{
        position: absolute;
        content: '';
        height: 2px;
        width: 250px;
        background-color: #A5833B;
        left: 0;
        right: 0;
        margin: auto;
    }
.info-contact-us-form{
    background-color: #F5F5F5 !important;
}

.btn-light{
    background-color: #A5833B !important;
}
.render-video{
    position: relative;
}
.render-video .video-wrapper {
    width:100%;
    height:100vh;
    overflow: hidden;
  
    video {
        object-fit: cover;
        width:100%;
        height:100%;
    }
  }


@media (max-width:900px) {
    .info-circle-img img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 335px;
    }
    .info-circle-img-02 img {
        width: 90px;
        position: absolute;
        bottom: -45px;
        left: 70px;
    }
    .info-restroom-content img {
        width: 50px;
        position: absolute;
        right: 285px;
        z-index: 1;
    }
    .info-restroom-content-02 img {
        width: 250px;
        position: absolute;
        bottom: -125px;
        right: 50px;
    }
    .render-video .video-wrapper {
        width: 100%;
        height: 84vh;
        overflow: hidden;
    }
}
@media (max-width:767px) {
    .down-arrow img{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;
    }
    .info-circle-img img{
        width: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 335px;
    }
    .info-circle-img-02 img{
        width: 60px;
        position: absolute;
        bottom: -40px;
        left: 50px;
    }
}
@media (max-width:600px) {
    .navbar-brand img{
        width: 70px;
    }
    .info-bg-card {
        background-color: #A5833B;
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .info-content-bg {
        background: url('../img/info-women-img.jpg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 720px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .info-circle-img img {
        width: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 280px;
    }
    .info-restroom-content-lines {
        width: 200px;
        position: absolute;
        bottom: -180px;
        left: 10px;
    }
    .info-restroom-content img {
        width: 35px;
        position: absolute;
        right: 145px;
        z-index: 1;
    }
    .info-restroom-content-02 img {
        width: 150px;
        position: absolute;
        bottom: -75px;
        right: 10px;
    }
}

@media (max-width:425px) {
    .render-video .video-wrapper {
        width: 100%;
        height: 34vh;
        overflow: hidden;
    }
}
@media (max-width: 400px) {
    .info-restroom-content-lines {
        width: 180px;
        position: absolute;
        bottom: -165px;
        left: 10px;
    }
    .info-restroom-content img {
        width: 20px;
        position: absolute;
        right: 125px;
        z-index: 1;
    }
    .info-restroom-content-02 img {
        width: 120px;
        position: absolute;
        bottom: -60px;
        right: 10px;
    }
}